@using Codes.Repositories
@using Codes.Common
@using Codes.Models

@{
    ViewBag.Title = "Аэрология";
}

    @if (this.IsAjax) {
        Layout = "";
    }


@if (!this.IsAjax)
{
    <!--
<div id="sandbox-container">
            <div id="station-report-data" class="input-group date">
                <span class="input-group-addon">Дата (UTC): </span>

                <input type="text" value="@ViewBag.DateTime" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                <span class="input-group-addon">Срок UTC:</span>
                <select class="input-sm form-control" onchange="SelectDataValueSrok(this.options[this.selectedIndex].value)">                    
                        <option value="0">00</option>
                        <option value="1">08</option>
                </select>

            </div>
</div>
-->
    <div id="sandbox-container">
            <div class="input-daterange input-group" id="station-report-data">
                <span class="input-group-addon">Дата (UTC): </span>
                <input id="datepicker_start" type="text" value="@ViewBag.DateTime"  class="input-sm form-control" name="start" />                
                <span class="input-group-addon">Срок UTC:</span>                
                <select class="input-sm form-control" onchange="SelectDataValueSrok(this.options[this.selectedIndex].value)">                    
                        <option value="0" selected>00 час.</option>                        
                        <option value="12">12 час.</option>
                </select>               

            </div>            
        </div>

    <script>

            $(document).ready(function () {

                $('#sandbox-container .input-daterange').datepicker({
                    todayBtn: true,
                    clearBtn: true,
                    language: "ru",
                    calendarWeeks: true,
                    autoclose: true,
                    todayHighlight: true,

            
             });
             });

    
             function SelectDataValueSrok(index) {
                
                dateChanged();

             }

    function dateChanged() {
        $("#station-report-data-result").text("Выполняется загрузка данных ... ");
        
        var param = { YYYY: $('#station-report-data input').val().substring(6, 10), MM: $('#station-report-data input').val().substring(3, 5), DD: $('#station-report-data input').val().substring(0, 2), GG: $('#station-report-data select').val() };

        $.ajax({
            cache: false,
            data: param,
            url: '@Url.Action("Index", "Station")',
            success: function (data) {
                document.getElementById("station-report-data-result").innerHTML = data;
                UpdateTableHeadersWrap();
            },
            error: function (x, e, thrownError) {
                document.getElementById("content").innerHTML = '<p>Ошибка запроса</p><p>' + thrownError + '</p>';
            }
            
        });
            
        }
    

    $(document).ready(function() {    
        $('#station-report-data input').datepicker({
            todayBtn: true,
            clearBtn: true,
            language: "ru",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        })
        .on('changeDate', dateChanged);
    });
    
</script>
}

<div id="station-report-data-result">
<table class="table table-striped tableWithFloatingHeader table-bordered">
    <thead>
        <tr>
            <th rowspan="2" style="text-align:center">
                Станция
            </th>
            
            <th colspan="5" style="text-align:center">
                Наблюдения у поверхности земли
            </th>
            <th rowspan="2" style="text-align:center">
                По высотам
            </th>

            
            <th colspan="5" style="text-align:center">
                Сведения о тропопаузе
            </th>
        </tr>

        <tr>
            <th class="text-right">Давление (гПа)</th>
            <th class="text-right">Температура (&degС)</th>
            <th class="text-right">Точка росы (&degС)</th>
            <th class="text-right">Ветер (град)</th>
            <th class="text-right">Скорость (м/с)</th>

            
            <th class="text-right">Давление (гПа)</th>
            <th class="text-right">Температура (&degС)</th>
            <th class="text-right">Точка росы (&degС)</th>
            <th class="text-right">Ветер (град)</th>
            <th class="text-right">Скорость (м/с)</th>
            
        </tr>
    </thead>
    <tbody>        
        @foreach (KeyValuePair<string, ViewMeasurement> item in Model)
        {
            <tr>
               <td>@item.Value.station</td>    
               @if (@item.Value.surface_pressure != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.surface_pressure</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }
               @if (@item.Value.surface_temperature != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.surface_temperature</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }

               @if (@item.Value.surface_dewpoint != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.surface_dewpoint</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }

               @if (@item.Value.surface_wind != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.surface_wind</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }

               @if (@item.Value.surface_windspeed != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.surface_windspeed</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }

               
               <td>
                    <input  data-toggle="collapse" data-target="#collapse_surface_isobaric_@(item.Value.station)" class="accordion-toggle btn btn-primary" type="button" value="Уровни" >
               </td>


               @if (@item.Value.tropopause_pressure != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.tropopause_pressure</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }
               @if (@item.Value.tropopause_temperature != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.tropopause_temperature</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }

               @if (@item.Value.tropopause_dewpoint != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.tropopause_dewpoint</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }

               @if (@item.Value.tropopause_wind != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.tropopause_wind</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }

               @if (@item.Value.tropopause_windspeed != @item.Value.no_data)
               {
                   <td class="text-right">@item.Value.tropopause_windspeed</td>
               }
               else
               {
                   <td class="text-right"><em>@item.Value.no_data</em></td>
               }




            </tr>
            
            <tr>
                <td colspan="7" class="hiddenRow">     
                    <div class="container-fluid">
                        <div class="accordian-body collapse" id="collapse_surface_isobaric_@(item.Value.station)">
                            <p>
                                <div class="panel panel-default">
                                  <div id="panel-body-@(item.Value.station)" class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-right">Уровень (гПа)</th>
                                                    <th class="text-right">H (гп.м.)</th>
                                                    <th class="text-right">T (&degС)</th>
                                                    <th class="text-right">D (&degС)</th>
                                                    <th class="text-right">W (&degС)</th>
                                                    <th class="text-right">WS (м/с)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-right">1000</td>
                                                    @if (@item.Value.surface_isobaric1000_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric1000_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric1000_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric1000_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric1000_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric1000_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric1000_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric1000_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric1000_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric1000_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">925</td>
                                                    @if (@item.Value.surface_isobaric0925_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0925_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0925_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0925_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0925_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0925_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0925_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0925_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0925_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0925_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">850</td>
                                                    @if (@item.Value.surface_isobaric0850_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0850_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0850_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0850_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0850_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0850_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0850_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0850_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0850_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0850_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">700</td>
                                                    @if (@item.Value.surface_isobaric0700_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0700_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0700_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0700_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0700_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0700_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0700_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0700_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0700_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0700_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">500</td>
                                                    @if (@item.Value.surface_isobaric0500_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0500_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0500_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0500_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0500_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0500_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0500_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0500_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0500_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0500_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">400</td>
                                                    @if (@item.Value.surface_isobaric0400_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0400_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0400_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0400_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0400_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0400_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0400_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0400_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0400_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0400_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">300</td>
                                                    @if (@item.Value.surface_isobaric0300_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0300_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0300_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0300_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0300_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0300_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0300_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0300_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0300_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0300_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">250</td>
                                                    @if (@item.Value.surface_isobaric0250_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0250_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0250_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0250_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0250_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0250_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0250_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0250_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0250_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0250_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">200</td>
                                                    @if (@item.Value.surface_isobaric0200_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0200_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0200_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0200_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0200_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0200_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0200_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0200_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0200_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0200_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">150</td>
                                                    @if (@item.Value.surface_isobaric0150_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0150_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0150_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0150_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0150_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0150_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0150_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0150_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0150_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0150_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                                <tr>
                                                    <td class="text-right">100</td>
                                                    @if (@item.Value.surface_isobaric0100_geopotential != @item.Value.no_data)
                                                    {
                                                           <td class="text-right">@item.Value.surface_isobaric0100_geopotential</td>
                                                    }
                                                    else
                                                    {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                    }

                                                       @if (@item.Value.surface_isobaric0100_temperature != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0100_temperature</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0100_dewpoint != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0100_dewpoint</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0100_wind != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0100_wind</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                       @if (@item.Value.surface_isobaric0100_windspeed != @item.Value.no_data)
                                                       {
                                                           <td class="text-right">@item.Value.surface_isobaric0100_windspeed</td>
                                                       }
                                                       else
                                                       {
                                                           <td class="text-right"><em>@item.Value.no_data</em></td>
                                                       }
                                                </tr>

                                            </tbody>
                                        </table>
                                  </div>
                                </div>
                            </p>
                        </div> 
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="7" class="hiddenRow">                    
                    
                </td>
            </tr>

            }        
    </tbody>
</table>
</div>
<script type="text/javascript">
    function UpdateTableHeaders() {
        $("div.divTableWithFloatingHeader").each(function () {
            var originalHeaderRow = $(".tableFloatingHeaderOriginal", this);
            var floatingHeaderRow = $(".tableFloatingHeader", this);
            var offset = $(this).offset();
            var scrollTop = $(window).scrollTop();
            if ((scrollTop > offset.top) && (scrollTop < offset.top + $(this).height())) {
                floatingHeaderRow.css("visibility", "visible");
                floatingHeaderRow.css("top", Math.min(scrollTop - offset.top, $(this).height() - floatingHeaderRow.height()) + "px");

                // Copy cell widths from original header
                $("th", floatingHeaderRow).each(function (index) {
                    var cellWidth = $("th", originalHeaderRow).eq(index).css('width');
                    $(this).css('width', cellWidth);
                });

                // Copy row width from whole table
                floatingHeaderRow.css("width", $(this).css("width"));
            }
            else {
                floatingHeaderRow.css("visibility", "hidden");
                floatingHeaderRow.css("top", "0px");
            }
        });
    }

    function UpdateTableHeadersWrap() {
        $("table.tableWithFloatingHeader").each(function () {
            $(this).wrap("<div class=\"divTableWithFloatingHeader\" style=\"position:relative\"></div>");

            var originalHeaderRow = $("tr:first", this)
            originalHeaderRow.before(originalHeaderRow.clone());
            var clonedHeaderRow = $("tr:first", this)

            clonedHeaderRow.addClass("tableFloatingHeader");
            clonedHeaderRow.css("position", "absolute");
            clonedHeaderRow.css("top", "0px");
            clonedHeaderRow.css("left", $(this).css("margin-left"));
            clonedHeaderRow.css("visibility", "hidden");

            originalHeaderRow.addClass("tableFloatingHeaderOriginal");
        });
        UpdateTableHeaders();
        $(window).scroll(UpdateTableHeaders);
        $(window).resize(UpdateTableHeaders);
    }

    $(document).ready(function () {
        UpdateTableHeadersWrap();
    });
    </script>